[2018-05-23 13:01] mcchai opened #1 "ADF Config Tool V3.0.0 Alpha 1 Test Issue"
[testPlan_ConfigTool_v3.xlsx](https://github.com/ADFTech/XTEC_X1_Public/files/2031108/testPlan_ConfigTool_v3.xlsx)

[2018-05-27 14:19] mcchai opened #2 "XTEC X1 Config Tool Test Issue R1"
[testPlan_ConfigTool_v3R1.xlsx](https://github.com/ADFTech/XTEC_X1_Public/files/2042711/testPlan_ConfigTool_v3R1.xlsx)
@ @ @fakhrul-omar

[2018-05-28 01:13] fakhrul-omar commented on #1
Updated report is in #2.

[2018-05-28 01:14] #1 closed, assigned to fakhrul-omar, mcchai

[2018-05-30 01:36] fakhrul-omar opened #3 "Update device connection status text at bottom taskbar"
Currently it simply says "Disconnected" regardless of actual connection status. Since there's possibility of network connection loss, this need to be updated to reflect that.

[2018-05-30 01:36] fakhrul-omar opened #4 "Add checkbox to select device(s) in dialog box for connecting to device"
Actually user currently can do this via pressing Ctrl key while clicking on device list item(s) but perhaps it's not intuitive enough so we'll add checkbox beside each list item.

[2018-05-30 01:37] fakhrul-omar opened #5 "Unable to search/scan for other device(s) on network after already connected"
After user has connected to device(s), when they try to scan after that, device list will be empty as if there's no device found. This is definitely due to reply from device got received by one of config-tool client(s) and dismissed/dropped as it doesn't match any of currently opened device. So either scan use client as well (and register to message controller) or do as config-tool-v2/yabe do: use

[2018-05-30 01:37] fakhrul-omar opened #6 "COM port list in "Connect to device" dialog box is empty"
Since config-tool-v3 currently doesn't support MS/TP, it's thought that it doesn't matter if it doesn't list any port. But if user do want to see what COM port they have, so be it. Just beware that Linux and Windows, the same as for listing IP interface, uses different function/method to list the ports.

[2018-05-30 01:37] fakhrul-omar opened #7 "Error popup for RPM after creating virtual device while being actually connected"
![image](https://user-images.githubusercontent.com/29793555/40597564-d0876612-6274-11e8-833e-3695073ab8d1.png)
First, connect to actual device. Then create virtual device for the error message to pop up.

![image](https://user-images.githubusercontent.com/29793555/40597578-e1e751a6-6274-11e8-9f9e-16d052d7e4d5.png)
Even after the virtual device is removed/closed the popup persists.

[2018-05-30 01:37] fakhrul-omar opened #8 "Textbox doesn't turn red when "Host Network Interface" and "Device IP address" is invalid"
Not sure whether tester simply forgot to press Enter after key-ing in the address. Anyway, need to test this first for confirmation...

[2018-05-30 01:38] fakhrul-omar opened #9 "Program crash in Schedule tab"
![image](https://user-images.githubusercontent.com/29793555/40597890-f6f0c116-6276-11e8-9d7c-70793310e0fd.png)

[2018-05-30 01:38] fakhrul-omar opened #10 "Weekly schedule in Schedule tab is completely not working"
Schedule object will report "configuration-error" whenever any entry is added to weekly schedule. Removing it will change back the object reliability status to "no-fault-found".

[2018-05-30 01:38] fakhrul-omar opened #11 "Rearrange MS/TP logic parameter setting dialog box to reduce click count"
![image](https://user-images.githubusercontent.com/29793555/40598099-5142bb82-6278-11e8-91fc-c4ba1221552a.png)
-Include drop-down list directly in logic function parameter list dialog box and resize dialog box accordingly (possible with wxFlexGridSizer, just interface will become cluttered)

[2018-05-30 01:38] fakhrul-omar opened #12 "Add BACnet object name/present value to "Variable" logic block"
Currently only manually created variable name/present value are displayed on block. It's partially a bug, plus an enhancement of having real-time present value (collected from "Variables" tab) to be displayed as well.

- [X] Show information for manually created BACnet object.
- [ ] Show real-time present value for BACnet object and actual result calculated from logic sequence.

[2018-05-30 01:39] fakhrul-omar opened #13 "Include undo/copy/paste options for logic block in Logic tab"

[2018-05-30 01:39] fakhrul-omar opened #14 "Compile/Import/Export options in "Logic (IP)" tab are not working"
While "Compile" menu item is definitely working (either tester forgot to ensure contiguous logic block(s) to be attached to start/end marker block or there's error in block(s) that is being compiled, "Import" and "Export" menu items are not working as all BACnet file related operation currently needs to be done via "BacFile" tab.

[2018-05-30 01:40] fakhrul-omar opened #15 "Calendar doesn't becomes active even though condition is met"
Probably due to device time doesn't sync with computer when setting the calendar. Perhaps adding device time at bottom taskbar as well?

[2018-05-30 01:40] fakhrul-omar opened #16 "Add option to duplicate schedule property reference for same schedule"
It's better if we can copy to any schedule available, but then it'll need either unique content identifier in clipboard or universal copy/paste manager (we'll need to support operations in variable and logic tabs as well). Copy/paste manager seems nice...

[2018-05-30 01:40] fakhrul-omar opened #17 "Alarm group doesn't trigger expected event"
After setting up alarm group item, alarm source and notification request to current computer/host, notification event list is still empty. Either tester/helper made mistake during configuration or bug.

[2018-05-30 01:40] fakhrul-omar opened #18 "Trend log buffer doesn't get refreshed every time new value is received"
Either related to #17 or tester/helper made a mistake; trend log update depends on trend log event, which means trend log as alarm source need to be set up with current host/computer as recipient.

[2018-05-30 01:42] fakhrul-omar opened #19 "BACnet file import in "BacFile" tab not working"
![image](https://user-images.githubusercontent.com/29793555/40601581-5a11d166-6288-11e8-93fc-fdb99e005f75.png)
Download status after clicking "Import" button stuck at 0% after a long time. Its export counterpart worked fine, or so it had been shown.

[2018-05-30 01:42] fakhrul-omar opened #20 "Bugs and UI enhancement in "General" tab"
Collecting all minor items inside single issue (actually since Felix doesn't put this inside issue list).
- [x] APDU timeout/retries text boxes need to be changed so that it doesn't update the value when having user focus, or else it'll revert to updated value while user still in the middle of changing it. Currently user needs to play race between update period and clicking Enter.
- [x] Time-sync/

[2018-05-30 01:43] fakhrul-omar opened #21 "Reliability value for PT1/PT2 intermittently flipping around between error and okay"

[2018-05-30 01:43] fakhrul-omar opened #22 "BACnet output object(s) on device doesn't match what is set in config-tool"
Not sure where's the problem, either config-tool doesn't actually set the object on device or problem on device side.
- [x] Analog output object output/present value maintains at 4V
- [x] TO1 to TO10 LED doesn't light up when set

[2018-05-30 02:30] fakhrul-omar opened #23 "Can only open single device when trying to connect to multiple devices with same name"
This is due to device similarity checking that currently only depends on name string; new device with same name will be considered as already opened and ignored. Simple solution is to add other variables like IP/MAC addresses in checking algorithm.

[2018-05-30 07:25] #4 closed, assigned to fakhrul-omar

[2018-05-30 09:48] fakhrul-omar commented on #23
DDC tab title now will be constructed from DDC name and its address.

[2018-05-30 09:48] #23 closed, assigned to fakhrul-omar

[2018-05-31 06:27] fakhrul-omar commented on #6
Even if COM port(s) is listed there, user still can't use MS/TP for BACnet communication medium; use IP.

[2018-05-31 06:27] #6 closed, assigned to fakhrul-omar

[2018-05-31 09:19] fakhrul-omar opened #24 "Generic popup error when trying to connect to XTEC-UC-X1"
![image](https://user-images.githubusercontent.com/29793555/40597854-bba1cd94-6276-11e8-8338-5fa465648ba3.png)
No further information is provided in the report.

[2018-05-31 09:20] #24 closed, assigned to fakhrul-omar

[2018-06-04 08:51] #20 closed, assigned to fakhrul-omar

[2018-06-04 08:56] fakhrul-omar commented on #8
Tested to be fine here. Need to ask @mcchai for step(s) taken to reproduce bug.

[2018-06-04 10:43] fakhrul-omar commented on #15
Tested to be fine here. Need to ask @mcchai for step(s) taken to reproduce bug.

[2018-06-05 06:20] fakhrul-omar commented on #3
Now DDC connection status is identified by DDC tab's caption text colour. Red means connected, black means disconnected.

[2018-06-05 10:12] fakhrul-omar commented on #9
Cannot replicate crash even after doing various things inside program. Need to ask @mcchai for step(s) to reproduce crash.

[2018-06-05 11:02] fakhrul-omar commented on #10
Need to ask user (@mcchai) whether they usually/want to use what type (floating point, only unsigned integer). In config-tool-v2, it simply fixes value type to enumerated (unsigned integer).

[2018-06-05 11:28] fakhrul-omar commented on #7
As usual, can't replicate error here. Perhaps need to use actual DDC? The error is about failure to send data to config-tool client though (through internal network; it should be stable), so it's not related to external DDC. Thus, try to use @mcchai computer again to test.

[2018-06-06 09:17] fakhrul-omar commented on #9
Crashed when adding schedule.

[2018-06-06 09:17] fakhrul-omar commented on #8
Need to detect when the connection to DDC is lost, so need to send periodically something like test signal/heartbeat.

[2018-06-06 09:34] fakhrul-omar commented on #7
It sometimes appears, usually it don't. Thus don't know how to properly/exactly produce the bug.

[2018-06-06 09:37] fakhrul-omar commented on #8
User need to press Enter for the validation to take place.

[2018-06-06 09:37] #8 closed, assigned to fakhrul-omar

[2018-06-06 09:37] fakhrul-omar commented on #3
Need to detect when the connection to DDC is lost, so need to send periodically something like test signal/heartbeat.

[2018-06-06 09:38] fakhrul-omar commented on #15
It's due to time on device doesn't match real environment. Time sync will solve this.

[2018-06-06 09:38] #15 closed, assigned to fakhrul-omar

[2018-06-06 13:07] #19 closed, assigned to fakhrul-omar

[2018-06-07 03:06] fakhrul-omar commented on #10
Correction: config-tool-v2 actually supports multiple types (it detects whether user value can be converted into floating point), but it doesn't enforce same type for single schedule. Meaning user still can use different type for schedule default and each weekly/exception schedule entry; schedule object will report configuration-error status after that.

Ideally the program should check data type

[2018-06-11 01:05] fakhrul-omar commented on #3
Heartbeat timing and disconnection detection depend on APDU timeout, so if let say the timeout is 6 seconds, and we send heartbeat for every 2 timeout, plus setting maximum heartbeat miss to 3, total time taken to declare disconnection will be 6 x 2 x 3 = 36 seconds.

[2018-06-11 01:05] #3 closed, assigned to fakhrul-omar

[2018-06-11 02:20] fakhrul-omar commented on #17
Aside from accumulator (not supported in VirtualBox version), PIV, IV and LAV (not supported in config-tool-v3 yet), all object types have been tested to be okay. @mcchai Let's retry testing this again.

[2018-06-19 10:20] fakhrul-omar opened #25 "Various fixes/improvements for "Connect to device" dialog box"
- [x] Start/stop wait for Who-Is reply by button rather than setting timeout manually without knowing how long the time really takes.
- [x] Ctrl/Shift click to select device(s) for and button to automatically select all devices (currently there's no button for this).
- [x] Sorting entry based on column data.
- [ ] Grouping device based on network (IP 1 has MS/TP 1-3, IP 2 has MS/TP 4-6).
- [x] Sca

[2018-06-19 10:24] fakhrul-omar opened #26 "Device suddenly disconnected without popup box"
Tab title text colour properly changed from black to red, but it somehow bypassed dialog box execution. Another theory is device isn't actually disconnected but text colour somehow changed.

[2018-06-19 10:40] fakhrul-omar opened #27 "Provide way to mass-set parameter on multiple devices"
BaseID and, rarely, baudrate will be manually set throughout devices on network, which is tedious. As such, option to send WriteProperty(Multiple) request to any device(s) being selected (making this an option in "Connect to device" dialog box) will be helpful. This will require client support. Since each property has its own data type, for now we'll only support those 2 explicitly requested prope

[2018-06-21 00:45] fakhrul-omar commented on #10
Program now provides check on value type inputted by user and give alert if type conflict is found. User then can choose whether to revert the edit or converts any conflicting value type to new one. The conversion depends on value range/validity, else value will be turned into NULL (invalid) value.

[2018-06-22 05:48] mcchai opened #28 "Unable to scan all the connected devices"

[2018-06-28 05:58] fakhrul-omar commented on #28
Even when setting scan timeout to a large value (1 minute), device(s) that exists on network still doesn't show up in list, compared to Yabe which can show them. This is due to config-tool-v3 that only puts device into list after receiving ReadPropertyMultiple ACK for device name and APDU timeout, even though it has received Who-Is reply.

Current scan sequence now is changed to listing any I-Am r

[2018-06-28 10:28] fakhrul-omar commented on #22
MS/TP will missing some package during sending data, but after add retry function, it fine

[2018-06-29 03:04] fakhrul-omar commented on #21
Not reproducable
-Tested and no problem

[2018-07-12 03:23] mcchai opened #29 "Disable the update color"
@fakhrul-omar , the update color is confusing.

[2018-07-12 03:24] mcchai opened #30 "Modification to the variable tab"
@fakhrul-omar , can we combine the AV, BV & PT tab and view 1 tab at a time?

[2018-07-12 03:25] mcchai opened #31 "Object properties update issue"
@fakhrul-omar , the update of the properties are slow and inaccurate.

[2018-07-12 03:26] mcchai opened #32 "Analog/ Binary input not shown"
@fakhrul-omar

[2018-07-12 03:27] mcchai opened #33 "Remove ID"
@fakhrul-omar

[2018-07-12 03:27] mcchai opened #34 "Show last scan result"
@fakhrul-omar , after scan, maintain the scanned devices

[2018-07-12 03:29] mcchai opened #35 "Change text control validation to not require pressing Enter"
@fakhrul-omar , it is not user friendly to click enter for each changes made, eg, change timeout

[2018-07-12 03:29] mcchai opened #36 "DDC Connection Lost"

[2018-07-12 03:31] mcchai opened #37 "Fixed the width of each column"
@fakhrul-omar , can we maximize all the width of the tab column so the user does not need to adjust the width so often

- [x] Autofit column to the content.
- [x] Autofit window to the parent window so that we don't need to scroll down to get to horizontal scroll.

[2018-07-12 03:43] fakhrul-omar commented on #29
Didn't expect updating the cell colour will slow down updating/reading process from device, unless you mean it's user's reading process that's being slowed down, meaning it's hard for user to read the text/value. In latter case, should I disable altogether this update marker?

[2018-07-12 03:48] mcchai commented on #29
The update marker is confusing because the color change is random

[2018-07-12 05:11] fakhrul-omar commented on #30
Isn't that AV and BV have their own list/area, not in tabs? If you want to combine AV and BV in a single area like config-tool-v2, yup we can. It's just I thought that since we can have a lot of AVs and BVs, user will need to do scrolling a lot.

As for the PT, it's technically AI; I put them in unique area to follow config-tool-v2 interface. Though I'm considering to put that to AI list as well s

[2018-07-12 05:16] fakhrul-omar commented on #29
Well, it's kinda random since sometimes config-tool doesn't get reply from device, being the trigger for the colour change, plus update is done in batches (i.e. 5 item for single update). In that case the cell colour will be out-of-order (doesn't match nearby cells), which user would perceive as random colour.

OK then, I'll disable update colour.

[2018-07-12 05:29] fakhrul-omar commented on #31
Does slow means when user sets a value to any object properties, the change only gets reflected on the device after a while? Now that's weird, for whenever user writes/changes any value the update to device will be performed straight away. I'll need example for this.

If inaccurate means when user sets something -> the value changed back to previous value -> changed again to new value, then it's s

[2018-07-12 05:32] fakhrul-omar commented on #32
Wonder if this is due to config-tool doesn't get reply when requesting object list when user starts connecting to DDC. If you try connecting it again, did the same thing happened?

[2018-07-12 05:33] fakhrul-omar commented on #33
Which/What ID, DDC ID on the tab? ID column at some (each) object list like AV?

[2018-07-12 05:35] fakhrul-omar commented on #34
Already implemented as part of #25.

[2018-07-12 05:42] fakhrul-omar commented on #35
Ahh, yes it's annoying for user. Plus there're some text entries that requires Enter, some are not. It's just that I don't know when user is actually completed their input entry (especially when validating IP address), thus the Enter key. I can keep validating the entry for each key pressed and change text entry colour accordingly, just thought that it'll pointlessly validating incomplete entry (d

[2018-07-12 05:45] fakhrul-omar commented on #36
Isn't this the same as #26? If the lost is due to actual problem (DDC doesn't give reply within timeout period), then it's fine. But if config-tool keeps disconnecting itself, then it's a bug. Not sure which one.

[2018-07-12 05:48] fakhrul-omar commented on #37
Tab column means? Column for any table/list? Tab that I currently recognize is DDC tab, BACnet object tab and some variable (AI/AO/BI/BO) tab, so I don't know which tab or what tab column means.

[2018-07-12 06:47] mcchai commented on #30
The current variable tab also has many scrolling to be done. The interface like config tool-v2 is simpler.

[2018-07-12 06:51] mcchai commented on #31
Yes, force refresh is better, if not, the user might perceive the changes made did not take place

[2018-07-12 06:55] mcchai commented on #33
ID column at some (each) object list like AV

[2018-07-12 06:56] mcchai commented on #34
Great

[2018-07-12 07:03] mcchai commented on #35
We can request the user to press the Enter key. Can we have an indication on when to press the Enter key?

[2018-07-12 07:05] mcchai commented on #37
I am referring to all the tab. Can we maximize the tab column so user does not need to adjust the width so often

[2018-07-12 07:09] mcchai commented on #36
Yes, its the same issue. What causes the bug?

[2018-07-12 07:24] fakhrul-omar commented on #30
Ermm, meaning it's better to put AV/BV, outputs and inputs in their own tabs like config-tool-v2? Well, we can do that. I thought that it's easier for user to look when all variables are in a single tab/place. Btw, since this is a big change, I need your confirmation first on how actually it'll be arranged.

[2018-07-12 07:28] fakhrul-omar commented on #37
![image](https://user-images.githubusercontent.com/29793555/42618601-1c6e398e-85e8-11e8-8f45-500808e6d1c9.png)
These are the ones that I currently recognize as tabs.

[2018-07-12 07:31] fakhrul-omar commented on #36
Don't know, I can't replicate that. Sometimes when I connect to MS/TP device it doesn't give reply to any request, so perhaps it's timeout. If that's really the case, then I can't do anything on my side; I'll ask hardware side for this later.

Since it's the same/duplicate as #26, I suggest to close this one.

[2018-07-12 07:38] fakhrul-omar commented on #35
Ermm...then any text entry that has background colour shall require user to press Enter when they finished typing value in it. Validation is done to check whether value can be converted to floating point, unsigned integer, signed integer or boolean. Or if it's IP address. The one that is simply white, user can put any string in it (like object name when creating new object).

[2018-07-12 07:42] fakhrul-omar commented on #33
That one I put because it's not like you can depend on object name to know its object ID, especially the one that you can set its name when you create it. Though the default name will be the usual one (i.e. Analog Value 14).

Well then, I'll delete that column.

[2018-07-12 07:43] fakhrul-omar commented on #31
OK then.

[2018-07-13 02:59] fakhrul-omar commented on #32
Refresh button to request for object list should be added then.

[2018-07-13 03:10] #36 closed, assigned to nobody

[2018-07-16 01:12] fakhrul-omar commented on #18
Bug where invalid value is provided when using sequence index given by trend log BUFFER_READY event has been fixed on DDC side.

[2018-07-16 01:16] fakhrul-omar commented on #28
Scan button now can be pressed and depressed, signalling scan start/stop period. Since it still depends on DDC name to determine ADF DDC types (IP or MS/TP), when config-tool-v3 doesn't get name/timeout reply within 5 seconds, it'll continue connecting to DDC but as generic device. User then should either choose whether to continue connecting or reconnect through "Connect to device" dialog box onc

[2018-07-17 05:44] fakhrul-omar commented on #11
Also removes PI and PID (deprecated? Syslab legacy?) and adds COV write and low-pass filters functions.

[2018-08-10 07:35] kslee911 opened #38 "Config Tool performs writeProperty after connect"
![writeProperty.JPG](https://images.zenhubusercontent.com/5923960351aa2c30577f16b5/c2a914ef-fa5c-4b86-adb6-384efb923d42)

The the values is being written to zero if connected in config tool.

[2018-08-10 07:44] kslee911 commented on #38
Further found out that the "writeProperty" is performed continuously according to wireshark capture.
@fakhrul-omar

[2018-08-10 07:49] kslee911 commented on #21
Checked and not reproducible as well.
Issue closed.

[2018-08-10 07:49] #21 closed, assigned to nobody

[2018-08-10 08:00] kslee911 commented on #28
Tested ok, scan & connect improved as described.

[2018-08-10 08:00] #28 closed, assigned to fakhrul-omar

[2018-08-10 08:04] kslee911 commented on #14
Compile, import, export tested ok.

[2018-08-10 08:04] #14 closed, assigned to nobody

[2018-08-10 08:07] kslee911 commented on #13
Undo = CTRL + Z
Copy = CTRL +C
Paste = CTRL + V

Command tested and working.

[2018-08-10 08:07] #13 closed, assigned to nobody

[2018-08-10 08:08] kslee911 commented on #34
Tested and issue closed.

[2018-08-10 08:08] #34 closed, assigned to nobody

[2018-08-10 08:12] kslee911 commented on #37
Tested ok and closed.

[2018-08-10 08:12] #37 closed, assigned to nobody

[2018-08-10 08:29] kslee911 commented on #11
Tested and closed.

[2018-08-10 08:29] #11 closed, assigned to fakhrul-omar

[2018-08-10 08:31] kslee911 commented on #5
Tested ok and closed.

[2018-08-10 08:31] #5 closed, assigned to fakhrul-omar

[2018-08-10 09:03] kslee911 commented on #22
Tested ok

[2018-08-10 09:03] #22 closed, assigned to nobody

[2018-08-10 09:08] kslee911 commented on #10
Still crash when trying to change weekly time entry.
![screenshot 266](https://user-images.githubusercontent.com/28557189/43949399-f6ae2c9c-9cbf-11e8-81ff-640fe17e0fcd.png)

[2018-08-10 09:42] kslee911 commented on #9
@fakhrul-omar is this the same crashing issue for schedule that we had?

[2018-08-10 09:50] kslee911 commented on #35
My suggestions:
Single click = Highlight particular text only
Double click = Enable user to change value when applicable
Enter = Update the respective value after double click changes

Do not update the value in the middle of typing.

@fakhrul-omar @mcchai

[2018-08-10 10:04] kslee911 commented on #31
Current AV value = 0
Write AV value = 45

I still see the value jumps from 0 -> 45 -> 0. As @fakhrul-omar said already implemented but some error occurs and it's possibly being reverted. I'll move this to in progress until the fix is confirmed.

[2018-08-10 10:15] kslee911 commented on #26
@fakhrul-omar
This is the bug related to the disconnection, where we have to close the connection to reconnects.

[2018-08-10 10:40] fakhrul-omar commented on #9
Nope since when this particular crash happen it doesn't produce same dialog box as the one about mismatched column type. Further comment from when I tested this is:

...though I can't reproduce this problem when I want to trace it.

[2018-08-10 10:58] fakhrul-omar commented on #26
Not quite. Intended behaviour is whenever the device is disconnected config-tool should popup a message dialog box stating the the device is disconnected (plus changing the title text colour). But in this bug/case the popup doesn't appear. As for why the disconnection occurs is handled by another issue(s).

And yeah, since it's disconnected there's no other way to reconnect other than closing the

[2018-08-10 11:00] kslee911 commented on #16
Added the features but yet to test, pending schedule crash issue is solved.

[2018-08-10 11:31] kslee911 opened #39 "Config Tool V3 crashed when updating firmware using file object no.4"
After finish exporting the file, config tool sometimes crashed.

[2018-08-10 11:49] kslee911 opened #40 "Pulse Accumulator at UI should disable user from changing "min pulse" value"
As understanding from David & Leong, changing this value for UI has no effect. Thus should disable user to change this value.
![Screenshot (267).png](https://images.zenhubusercontent.com/5923960351aa2c30577f16b5/d6ad0b25-89b0-4ea1-b742-4edb17e33935)

[2018-08-28 07:34] wslow-adft commented on #38
@kslee911 @LOKJK  @thyong-adft  Ready

[2018-08-28 07:35] wslow-adft commented on #32
@kslee911 @LOKJK  @thyong-adft  Ready for test

[2018-08-28 07:36] wslow-adft commented on #35
@kslee911 @LOKJK  @thyong-adft  Ready for test

[2018-08-28 07:37] wslow-adft commented on #39
@kslee911 @LOKJK  @thyong-adft Ready for test

[2018-08-28 07:38] wslow-adft commented on #40
@kslee911 @LOKJK  @thyong-adft  Ready for test

[2018-10-06 05:35] mcchai commented on #18
The trend buffer log does not have real time update and need to close and reopen the config tool to get the updates @fakhrul-omar

[2018-10-06 06:06] #32 closed, assigned to nobody

[2018-10-06 06:06] #33 closed, assigned to nobody

[2018-10-06 06:07] #29 closed, assigned to nobody

[2018-10-06 07:23] mcchai opened #41 "Calendar tab still show false response although the condition is met."
![calendar](https://user-images.githubusercontent.com/38911466/46568688-c77fc500-c97b-11e8-8630-410824dc8e80.jpg)

[2018-10-06 07:24] mcchai commented on #41
@fakhrul-omar

[2018-10-06 07:28] mcchai opened #42 "The calendar data blinks when added the calendar range"
@fakhrul-omar #
![calendar blink](https://user-images.githubusercontent.com/38911466/46568730-7f14d700-c97c-11e8-8163-5e177e7830ab.jpg)
![calendar blinks](https://user-images.githubusercontent.com/38911466/46568731-7f14d700-c97c-11e8-8499-d19a2d9bfef8.jpg)

[2018-10-06 07:30] mcchai opened #43 "Config tool crashed after a new calendar entry is added"
@fakhrul-omar

![calendar](https://user-images.githubusercontent.com/38911466/46568743-b2effc80-c97c-11e8-8466-c659f0a870be.jpg)

[2018-10-06 07:31] mcchai opened #44 "The time in the schedule tab cannot be configured"
@fakhrul-omar

![cannot edit schedule](https://user-images.githubusercontent.com/38911466/46568750-db77f680-c97c-11e8-9e3d-a9ab0cd3f3c1.jpg)

[2018-10-06 07:34] mcchai opened #45 "The schedule will have configuration-error status when "Property Reference" is added."
@fakhrul-omar

![schedule will have config error after adding lobinary value](https://user-images.githubusercontent.com/38911466/46568769-44f80500-c97d-11e8-97b3-3b46891b0bc8.jpg)

[2018-10-06 07:35] mcchai opened #46 "Config Tool crashed when the logic is compiled without the "variable"."
@fakhrul-omar

![compile error](https://user-images.githubusercontent.com/38911466/46568778-622cd380-c97d-11e8-8bec-89145ea40beb.jpg)

[2018-10-06 07:43] mcchai opened #47 "IP Logic Min, Max, PI, PID ,Get Value can be compiled but can't export."
@fakhrul-omar

![bacnet get ao cannot export](https://user-images.githubusercontent.com/38911466/46568848-85a44e00-c97e-11e8-9c14-fdeae6aab14e.jpg)
![bacnet set cannot export](https://user-images.githubusercontent.com/38911466/46568849-863ce480-c97e-11e8-959c-8fd00d6ef19f.jpg)
![pi compilation okay but cant export](https://user-images.githubusercontent.com/38911466/46568850-863ce480-c97e-11e8-927c

[2018-10-06 07:45] mcchai opened #48 "Variables cannot be added into the IF-ELSE logic"
@fakhrul-omar

![controls block cannot add block](https://user-images.githubusercontent.com/38911466/46568867-ca2fe980-c97e-11e8-9c27-951bcd602106.jpg)
![controls block doesnt take changes](https://user-images.githubusercontent.com/38911466/46568869-cac88000-c97e-11e8-8eac-7cec4d1b7f5f.jpg)

[2018-10-06 07:49] mcchai opened #49 "Alarm event does not take place although the alarm source is triggered."
@fakhrul-omar

The alarm source was added. However, when the IP device is reopen, the alarm source disappeared. Also the alarm event does not take place although the alarm source is triggered.

![alarm no event](https://user-images.githubusercontent.com/38911466/46568898-432f4100-c97f-11e8-9ad6-5c355e49189e.jpg)
![alarm source gone after reconnect](https://user-images.githubusercontent.com/3891146

[2018-10-06 14:46] fakhrul-omar commented on #18
Have you set alarm (in Alarm Group tab) with that particular trend log as source and config-tool-v3 as recipient?

[2018-10-06 14:55] fakhrul-omar commented on #42
Current explanation is infinite read/write loop after list box detects change event in its value, at which it didn't recognize which one is the actor, user's or its own.

[2018-10-06 14:59] fakhrul-omar commented on #44
Is this not because item in schedule exception is not currently selected while editing item in calendar schedule?

[2018-10-06 15:02] fakhrul-omar commented on #46
Due to no value block checking (whether it's actually assigned or not) on main statement block (and probably to other blocks too) when actually accessing it when compiling.

[2018-10-06 15:07] fakhrul-omar commented on #48
Value block type (dictated by its shape) needs to match placeholder (destination). From the images, looks like the placeholder type is set to boolean while value block is NULL.

[2018-10-06 15:17] fakhrul-omar commented on #49
For the disappearance problem, user needs to right-click in "Alarm source" listbox and select "Refresh list (all group)". After that, try selecting item in "Alarm group" listbox again.

For missing event, try confirm whether item in "Notification recipient" list box has its details, particularly port number, matches what is currently being used by config-tool-v3. This is because when the last devi

[2018-10-09 03:10] wslow-adft commented on #41
maybe not time sysn

[2018-10-17 01:09] wslow-adft commented on #41
@thyong-adft @mcchai Ready for test

[2018-10-17 01:10] wslow-adft commented on #41
This is because the time in controller is not syns

[2018-10-17 01:10] wslow-adft commented on #42
@thyong-adft @mcchai Ready for test

[2018-10-17 01:14] wslow-adft commented on #44
@thyong-adft @mcchai  Ready for test. The config tool is not checking whether the calendar have been selected before create the exception time entry.
A checking process added.

[2018-10-17 01:17] wslow-adft commented on #46
@thyong-adft @mcchai  Ready for test. It will prompt error message if variable block is not exist.

[2018-10-17 01:17] wslow-adft commented on #47
@thyong-adft @mcchai Ready for test.

[2018-10-17 01:22] wslow-adft commented on #48
@thyong-adft @mcchai  Ready for test. The IF_ELSE block only able to drag the Statement block rather than variable block, but config tool should not able to let user change the setting in the world.(https://user-images.githubusercontent.com/38911466/46568869-cac88000-c97e-11e8-8eac-7cec4d1b7f5f.jpg)
So config tool had disable for setting the variable block in the IF_ELSE statement block.

[2018-10-17 01:33] wslow-adft commented on #49
@thyong-adft @mcchai Ready for test. The port number of config tool is random assign and it will be change when every time connect to device, so the alarm event will not forward the alarm message to the correct port.
So, a check box is added. If the checkbox had been checked, then the it will forward the message to current port, but user need to do it manually every time they need connect to devic

[2018-10-19 09:40] wslow-adft commented on #45
@thyong-adft  @mcchai  ready for test.
- Add a column in schedule list for changing the data type. User will only able to change data type in this column and won't be able to change the data when change the value time entry and schedule default.
- User will only able to select the object type (AO,AV,BV...) according the data type had been selected. (To prevent configuration error cause by selected

[2018-10-20 09:59] mcchai opened #50 "Program shows error status after initiate run command"
@fakhrul-omar
![dfdfd](https://user-images.githubusercontent.com/38911466/47254230-d98c5800-d491-11e8-8b62-6b8263053435.jpg)
![dfdfdfd](https://user-images.githubusercontent.com/38911466/47254231-da24ee80-d491-11e8-8ff0-77f15cec46b9.jpg)

[2018-10-20 10:08] mcchai commented on #49
![alarm group crash](https://user-images.githubusercontent.com/38911466/47254287-1ad13780-d493-11e8-8f78-cac2167a66cf.jpg)
The config tool crashed after the "Select destination now" is clicked

[2018-10-20 10:12] #48 closed, assigned to wslow-adft

[2018-10-20 10:13] mcchai commented on #48
Yes,the statement block can be dragged into the IF_ELSE block.

[2018-10-20 10:17] mcchai commented on #47
@wslow-adft , the block can be compiled but it shows Program Error when initiate run program

![logic error](https://user-images.githubusercontent.com/38911466/47254389-62a48e80-d494-11e8-8498-a8f8036411da.jpg)
![logic error2](https://user-images.githubusercontent.com/38911466/47254390-62a48e80-d494-11e8-81a8-3e5f43652d55.jpg)

[2018-10-20 10:18] mcchai commented on #46
Noted.  I will close the issue now

[2018-10-20 10:18] #46 closed, assigned to wslow-adft

[2018-10-20 10:24] mcchai commented on #45
@wslow-adft , I will close the issue now

[2018-10-20 10:24] #45 closed, assigned to wslow-adft

[2018-10-20 10:25] mcchai commented on #44
@wslow-adft , I will close the issue now. Thank you.

[2018-10-20 10:25] #44 closed, assigned to wslow-adft

[2018-10-20 10:25] mcchai commented on #42
@wslow-adft , I will close the issue now. Thank you.

[2018-10-20 10:25] #42 closed, assigned to wslow-adft

[2018-10-20 10:26] mcchai commented on #41
@wslow-adft , I will close the issue now. Thank you.

[2018-10-20 10:26] #41 closed, assigned to wslow-adft

[2018-10-20 10:27] #2 closed, assigned to fakhrul-omar

[2018-10-20 10:28] mcchai commented on #35
@wslow-adft , I will close the issue now. Thank you.

[2018-10-20 10:28] #35 closed, assigned to nobody

[2018-10-20 10:30] mcchai commented on #30
@fakhrul-omar , I will close the issue now. Thank you.

[2018-10-20 10:30] #30 closed, assigned to nobody

[2018-10-23 08:59] mcchai commented on #49
@wslow-adft , I will close the issue now. Thank you.

[2018-10-23 08:59] #49 closed, assigned to nobody

[2018-12-03 02:46] kslee911 opened #51 "Analog Input max/min range does not respond correctly when changed"

[2018-12-03 04:02] fakhrul-omar commented on #51
Steps to reproduce? Perhaps something like:
1. connecting UI to external input.
2. confirming UI value with config-tool-v3 or Yabe is within max/min range.
3. try with smaller range, but UI value doesn't get within range.

[2018-12-03 04:06] kslee911 commented on #51
Yes, please use config tool v3 to test.

[2018-12-03 07:26] david-glover commented on #51
For MSTP devices we have the optional properties:      PROP_MIN_PRES_VALUE, PROP_MAX_PRES_VALUE

These are defined as:
This property, of type REAL, indicates the lowest/highest number in engineering units that can be reliably used for the Present_Value property of this object.

For X1 devices we do not have these properties.
We do have     PROP_HIGH_LIMIT, PROP_LOW_LIMIT.

These are defined as:
Th

[2018-12-03 08:18] fakhrul-omar commented on #51
Here it gets more interesting. In config-tool-v3, for setting min/max range value, it first determines whether target device is an IP or MS/TP. If it's MS/TP, it uses PROP\_\*\_PRES_VALUE, and if it's IP, it uses PROP\_\*\_LIMIT. The latter is wrong since, as David described above, those are for event algorithm, not for present value control. Wonder how did I test that property before.

Anyway, th

[2018-12-03 08:20] fakhrul-omar commented on #51
Don't know why it says property unknown though, most probably config-tool-v3 detects target device type as MS/TP and uses non-existent PROP_*_PRES_VALUE, which points to another problem...

[2018-12-03 08:30] david-glover commented on #51
The first time, it didn't properly detect as X1.  When I was showing
Fakhrul that it didn't detect, it detected properly, and now it writes
low_Limit and High_Limit (which is expected as far as Config Tool is
concerned, but is wrong.)

After discussing with Lee, the Min_Scale and Max_Scale properties are used
and wanted.
It seems that the MSTP device is incorrectly using MIN_PRES_VALUE and
MAX_PRE

[2018-12-03 14:36] kslee911 commented on #51
1. So the correct properties that should be used are min_scale and max_scale for both MSTP and X1? If yes please make the changes to X1 first as I need the scaling to display sensor the reading properly.

2. We shall proceed to make these unit to NO UNITS (95) as the conditions varies. Setting it to change according to sensor type doesn't fit all conditions.
Eg. 0-10v sensor type can be PRESSURE,

[2018-12-13 06:09] kslee911 commented on #51
Any updates on this?
@fakhrul-omar @david-glover @thyong-adft @LOKJK

[2018-12-13 06:53] thyong-adft commented on #51
@kslee911 they went for 1 day seminar. The issue can be resolved by next week. Let me discuss with them on the exact day.

[2018-12-13 07:00] kslee911 opened #52 "Cannot login to webpage after change settings from MSTP Tab"
Steps:
1. Login to X1 via web
2. Go to MSTP tab, enable/disable either port, then save. Or change other MSTP setting, then save.
3. Go to General Tab, click Reboot.
4. Cannot login to web after that.

It happened to 2 of the X1 devices.

@thyong-adft @LOKJK

[2018-12-14 02:47] david-glover commented on #52
Both of the devices had a truncated config file.  (sizes: 86016, 401408.  Should be 1069232).

Tried multiple times to reproduce the error, but did not have any occurrence of the issue.

Need to investigate the save_pending and reboot logic to see what can be changed.
Also will look at implementing a duplicate file backup / alternating write scheme.

[2018-12-17 02:51] fakhrul-omar opened #53 "X1 logic value block need to have variable name checking"
If user uses reserved words or function names in C such as 'int', 'min' and 'max', it'll definitely produce error during compiling on device (showing usual Halted (Unknown error)). Thus, config-tool-v3 should have checked variable name first during compilation to JSON and fails quickly.

[2018-12-17 06:18] david-glover commented on #51
Scaling as requested has been implemented in XTEC-X1 release v1.1.3-beta.4 with the following properties:
AI_MIN_SCALE (552)
AI_MAX_SCALE (553)

[2018-12-18 07:46] fakhrul-omar commented on #51
Done on config-tool side as well. For X1 device that has firmware version below v3.1.1-beta.4, min/max scale columns for analog input in Variables tab will be hidden (user cannot access those).

[2018-12-18 16:46] kslee911 commented on #51
Thanks @david-glover  @fakhrul-omar
I will test this by tomorrow.

[2018-12-18 16:48] kslee911 opened #54 "PI logic does not work properly"

[2018-12-20 01:25] kslee911 commented on #54
Found out that the ordering of PI logic parameter doesn't match.

Current:
input, setpoint, pband, ti, max_integral, min_out, max_out, deadband, dir

Actual:
input, setpoint, pband, ti, deadband, max_integral, min_out, max_out, dir

To change the ordering to match with Actual PI

[2019-01-05 12:31] kslee911 commented on #54
Tested and functional

[2019-01-05 12:31] #54 closed, assigned to fakhrul-omar

[2019-01-05 12:31] kslee911 commented on #51
Tested and functional

[2019-01-05 12:31] #51 closed, assigned to kslee911

[2019-01-05 12:34] kslee911 opened #55 "Device being "Reset" after click Reboot"
Happened a few times at WHR, HPUPM site after changing Port 1/Port 2 settings through web.

@thyong-adft @LOKJK

[2019-01-05 12:37] kslee911 opened #56 "Program became "Idle" after "Running" with no error for a few hours"
The logic program became idle after running with no errors.

Does power reset will set the program property status to "Idle" each time the device is powered up again from power failure?

@thyong-adft @LOKJK

[2019-01-05 12:45] kslee911 opened #57 "AI becomes zero after device running with logic"
![AI becomes Zero.jpeg](https://images.zenhubusercontent.com/5923960351aa2c30577f16b5/b2f06669-dfed-4259-bb97-76cbe1ee4127)

I will email the .json file and modbus .csv file.

@thyong-adft @LOKJK

[2019-01-05 12:50] kslee911 opened #58 "Logic/Program not running"
There is one device that encounter this. I will email the .bin, .json and modbus .csv for this.
Other device that has been using the same file has no such issue.

For quick measure, I would like to request for 4 new X1 device to be installed and bring back these faulty units. It's very urgent as the hospital rooms testing is on-going at the moment. It requires our logic to work and control the equ

[2019-01-05 15:01] fakhrul-omar commented on #55
Reset here means all variables are deleted/returned to default settings, right? This one I guess is due to config.bin got corrupted after reboot, the same thing as #52.

[2019-01-05 16:44] thyong-adft commented on #55
Dear all,

Let us discuss on that after release T1 alpha 2.

Regards,
TH Yong
Operations Manager
Mobile: +6016 417 1163
On 5 Jan 2019, 11:02 PM +0800, fakhrul-omar <notifications@github.com>, wrote:

[2019-01-05 16:46] thyong-adft commented on #58
Dear KS,

We do not have any more new X1 in KL stock. The upcoming will arrive at KL in the end of Jan.

Best is to bring back to office to reload the config.bin or modbus.csv.

Regards,
TH Yong
Operations Manager
Mobile: +6016 417 1163
On 5 Jan 2019, 8:50 PM +0800, kslee911 <notifications@github.com>, wrote:

[2019-01-06 11:40] kslee911 commented on #58
Hi,

If that's the case, will it be okay if i only bring new SD card (pre-loaded
with working firmware), then swap and bring back the SD card that has
problem at site to office?
Will it be the same?

Best Regards,

*KS Lee*
*Asst. Project Manager*
ADF Technologies Sdn. Bhd.
Mobile: +6016 262 1163
Email: kslee@adftech.com.my

On Sun, Jan 6, 2019 at 12:46 AM thyong-adft <notifications@github.com>
wr

[2019-01-07 00:13] kslee911 commented on #58
KS,

Let me confirm with you by today.

Regards,
TH Yong
Operations Manager
Mobile: +6016 417 1163
On 6 Jan 2019, 7:40 PM +0800, KS Lee <kslee@adftech.com.my>, wrote:

[2019-01-07 01:03] mcchai opened #59 "Chiller one-to one program halted after run command"
The program shows halted error because the variable demand number needs to be added manually in the compiler.

[2019-01-07 01:05] mcchai opened #60 "Chiller one-to-one cut out does not respond to "OR" logic"
@fakhrul-omar

[2019-01-15 03:09] fakhrul-omar opened #61 "Chiller group state not functioning for one-to-one chiller"
# Problem
Currently there're 2 different erroneous behaviours reported:
- Some or all of device set's group state have empty output (bitstring completely missing).
- Cannot force device set status to run (run state doesn't follow IO value, while mode and fail states do).

Test file: [logic JSON.zip](https://github.com/ADFTech/XTEC_X1_Public/files/2757920/logic.JSON.zip)

[2019-01-15 05:52] fakhrul-omar commented on #61
Currently array indexing for many-to-many (m2m) is different from one-to-one (o2o), where they use one-based and zero-based, respectively. The fix is then to standardize between them, at which I would select one-based since I initially changed many-to-many indexing due to suggestion/request to make all items in chiller use one-based to match what they have at site.

[2019-01-16 03:56] fakhrul-omar commented on #60
Current procedure is:
1. For each enabled condition(s), get suggested demand. For BTU, we refer to table. For temps, we either add or substract 1 from current demand.
2. When there're multiple conditions, we check for their suggested operations. Unless both are doing the same thing (either both cutting-in or cutting-out), it'll do nothing. Its rationale is since both conflicts each other, might as

[2019-01-16 03:58] fakhrul-omar commented on #58
Is this one still ongoing or @david-glover already looked at/fixed it?

[2019-01-16 03:59] fakhrul-omar commented on #57
I heard that @david-glover already worked on this. Current status is?

[2019-01-16 04:03] fakhrul-omar commented on #56
Feels like I'm spamming the comment section now. As far as I know, there's no idle state (it stops running) for logic/chiller section. As for the program status, since it's linked to whether logic runs or not, I would say it'll show "Running", the same as reboot. Unless logic JSON is missing/disappeared.

[2019-01-16 04:26] david-glover commented on #58
Caused by program crashing.  (Modbus writing did not close queue, crashed for having too many file descriptors open.)
Should be fixed by c6896c6fba5c0049c19201068dadf8dd165d2146

[2019-01-16 04:26] #58 closed, assigned to fakhrul-omar, david-glover

[2019-01-16 05:14] david-glover commented on #56
The state should be the same after power up as before.
Should be fixed by fixing non-related modbus writing bug, should be caused by program crashing before saving config file, therefore the program state is not running in config when it restarts.
fixed by https://github.com/ADFTech/xtec-uc-ip-main/commit/c6896c6fba5c0049c19201068dadf8dd165d2146

[2019-01-16 05:14] #56 closed, assigned to fakhrul-omar, david-glover

[2019-01-16 05:17] david-glover commented on #55
Fix in v.1.1.3.beta.5.  Added backup config, and also prevent saving config from SIGTERM when the reboot was triggered.
https://github.com/ADFTech/xtec-uc-ip-main/commit/ea90a9678d0b6fd1174e80872473e6570f2783c0

[2019-01-16 05:17] #55 closed, assigned to fakhrul-omar, david-glover

[2019-01-16 05:18] david-glover commented on #52
fixed in v1.1.3.beta.5.  Added backup config file and prevent saving when SIGTERM triggered by reboot event.
https://github.com/ADFTech/xtec-uc-ip-main/commit/ea90a9678d0b6fd1174e80872473e6570f2783c0

[2019-01-16 05:18] #52 closed, assigned to david-glover

[2019-01-16 05:22] david-glover commented on #57
I believe this is also caused by the program crashing and not saving the config, like other issues.
Likely fixed by https://github.com/ADFTech/xtec-uc-ip-main/commit/ea90a9678d0b6fd1174e80872473e6570f2783c0

[2019-01-16 15:27] kslee911 commented on #57
Not happening anymore at the moment, should be fixed with recent update.

[2019-01-16 15:27] #57 closed, assigned to kslee911

[2019-01-18 02:14] fakhrul-omar commented on #60
After the discussion with Mr.Yong, looks like table to determine the operation (cut-in/out) is wrong. Currently all the conditions (BTU, temp supply, ...) should suggest the same operation in order to execute that operation, which is incorrect in the sense of if one condition suggests an operation and other says demand, logic should perform that operation. OR and AND operator itself is correct.

[2019-01-22 01:23] david-glover opened #62 "X1 responds with I-Am-Router-To-Network from the same port it has seen I-Am-Router-To-Network."
The X1 should not say it is router to network from the same network as the other known router.

example:

192.168.1.64 -> *, [802]

After 192.168.1.64 has seen a broadcast I-Am-Router-To-Network from 192.168.1.100, it also will respond that it is a router to network 802.  (It should only say that from the other ports.)

[2019-01-23 02:29] david-glover commented on #62
Fixed in ADFTech/xtec-uc-ip-main/commit/02c3bb2f040da8efc412b111e4e8c0d018666ddb.
Will be included in next release.

[2019-01-23 02:29] #62 closed, assigned to david-glover

[2019-03-02 08:10] #59 closed, assigned to fakhrul-omar

[2019-03-02 08:10] #40 closed, assigned to fakhrul-omar

[2019-03-02 08:10] #50 closed, assigned to nobody

[2019-03-02 08:11] #43 closed, assigned to wslow-adft

[2019-03-02 08:12] kslee911 commented on #38
Tested ok at site

[2019-03-02 08:12] #38 closed, assigned to fakhrul-omar

[2019-03-02 08:14] #47 closed, assigned to wslow-adft

[2019-03-02 08:15] #39 closed, assigned to fakhrul-omar

[2019-03-02 08:15] #31 closed, assigned to fakhrul-omar

[2019-04-12 03:27] fakhrul-omar commented on #60
Now we remove ability to combine conditions altogether; just a single condition is allowed at a time, unless user wants that at which then we'll write a custom logic JSON (code) for that. So no more AND/OR, plus 3 BTU, temp return and temp supply conditions are renamed to 2 BTU and temperature only, where temperature here actually means any variable that have simple cut-in/out limit.

[2020-06-16 02:41] wslow-adft opened #63 "Device Not Support confirmed event notification"
![image](https://user-images.githubusercontent.com/38875038/84725475-4d5f6a80-afbd-11ea-9a97-200aeb2dc143.png)

- Device will not send any confirmed event notification while to recipient when notification happen after `Ack Required` had been tick.
- However, if uncheck the  `Ack Required`, it will reply unconfirmed event notification to recipient when notification event happen.
- It is not relate

[2020-06-16 02:52] wslow-adft commented on #63
`Notify Type` is used inside the message of reply when notification happen.
![image](https://user-images.githubusercontent.com/38875038/84726315-2e61d800-afbf-11ea-89b9-d4fae7a57e09.png)

[2020-07-07 01:09] wslow-adft opened #64 "Bug for notification class"
- [ ] It will create duplicate notification class if the first notification class with non-zero index.

![image](https://user-images.githubusercontent.com/38875038/86679091-cfc4d280-c02f-11ea-97fb-80f6c6c8770a.png)
![image](https://user-images.githubusercontent.com/38875038/86679773-78733200-c030-11ea-8100-ad15eb85756b.png)

![image](https://user-images.githubusercontent.com/38875038/86680296-0059

[2022-11-03 05:03] lktan-adft opened #65 "X1 Boot Issue"
### Symptoms

- X1 power light is working fine.
- X1 MB run light is not blinking

### Study
Following are the logs that received from the debug pin (J11)

Failed
[code]

Success
[code]

### Issue:
- Looking from the log, it seems the board already loaded boot.bin (through internal rom program) and failed to load the u-boot.bin.
- Suspect it might be software timing issue as the internal rom progr

[2022-11-23 07:57] lktan-adft commented on #65
Probably hardware issue,

- Initially SD Card access is in one bit mode, for setting up the SD Card and handshaking process
- The SD Card communication timeout happens when the SD Card bus mode changed to 4 bit
- Changed the at91bootstrap code force it to maintain one bit mode
- Able to load the u-boot.bin but it failed during the kernel stage, as it not able to detect the SD Card.
- Suspected wou

[2022-11-23 07:57] #65 closed, assigned to nobody